.cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    border: 2px solid #333;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .cursor {
      display: none; /* Hide custom cursor on mobile */
    }
  }